#mat-expansion-panel-header-0{
    background-color: #3FA796;
    height: 25px;
    font-size: 12px;
  }
  #mat-expansion-panel-header-1{
    background-color: #3FA796;
    height: 25px;
    font-size: 12px;
  }
  #mat-expansion-panel-header-2{
    background-color: #3FA796;
    height: 25px;
    font-size: 12px;
  }
  #mat-expansion-panel-header-3{
    background-color: #3FA796;
    height: 25px;
    font-size: 12px;
  }








  